# List

In [45]:
# 1. Takes two lists and return True if they have at least one common member.
list1 = [2, 3, 4, 5, 6]
list2 = [5, 6, 7, 8, 9]

for x in list1:
    for y in list2:
        if(x==y):
            res = True
print(res)

True

In [46]:
# 2. Convert a list of characters into a string.
list_char = ['p','y','t','h','o','n']
x = "".join(list_char)
print(x)

python

In [47]:
# 3. Convert a list of multiple integers into a single integer. Sample list: [1, 2, 3] , Expected Output: 123.
list_num = [12, 13, 78, 99]

res = int("".join(map(str,list_num)))
print(res)

12137899

In [48]:
# 4. Remove empty strings from the list of strings: 
list1 = ["Jim", "", "Pam", "Kelly", "", "Michael"]

while "" in list1:
    list1.remove("")
print(list1)

['Jim', 'Pam', 'Kelly', 'Michael']

In [49]:
""" 5. Given a nested list extend it with adding sub list 
    ["h", "i", "j"]  
in a such a way that it will look like the following list:
    list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
    sublist: Sub List to be added = ["h", "i", "j"]
    Out: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
"""
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [50]:
""" 6. Given a Python list, find value 30 in the list, and if it is present,
replace it with “found”. Only update the first occurrence of a value: list1 = [5, 10, 15, 30, 25, 50, 30]
Out: list1 = [5, 10, 15, “found”, 25, 50, 30]
"""

listx = [1,2,30,40,30,20,30,30,20]
listx[listx.index(30)] = "found"

print(listx)

[1, 2, 'found', 40, 30, 20, 30, 30, 20]

In [51]:
"""
7. Flatten a list

Original list: [0, 10, [20, 30, 80], 40, 50, [60, 70], [90, 100, 110]]
Flatten list: [0, 10, 20, 30, 80, 40, 50, 60, 70, 90, 100, 110]

"""

Original_list= [0, 10, [20, 30, 80], 40, 50, [60, 70], [90, 100, 110]]
flat_list = []
for x in Original_list:
    if(type(x) == int):
        flat_list.append(x)
    if(type(x) == list):
        flat_list.extend(x)
print(flat_list)

[0, 10, 20, 30, 80, 40, 50, 60, 70, 90, 100, 110]

# Dictionary

In [55]:
"""1. Below are the two lists convert it into the dictionary:

    keys = ['Fifteen', 'Twenty five', 'Thirty five']

    values = [15, 25, 35]

    Out: {'Ten': 15, 'Twenty': 25, 'Thirty': 35}"""

"""
Note : I am trying to print it acc to output.
"""

keys = ['Fifteen', 'Twenty five', 'Thirty five']
values = [15, 25, 35]

req = {}

for i in range(len(keys)):
    req[list(map(str,keys[i].split(" ")))[0]] = values[i]
print(req)

{'Fifteen': 15, 'Twenty': 25, 'Thirty': 35}

In [66]:
"""2. Merge following two Python dictionaries into one and store the value of keys in a separate list.

    dict1 = {'Ten': 15, 'Twenty': 25, 'Thirty': 35}

    dict2 = {'Thirty': 30, 'Forty five': 45, 'Fifty six': 56}

    Out: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}"""

dict1 = {'Ten': 15, 'Twenty': 25, 'Thirty': 35}
dict2 = {'Thirty': 30, 'Forty five': 45, 'Fifty six': 56}
out = {}
out.update(dict1)
out.update(dict2)

val = out.keys()
print(out)
print(val)

{'Ten': 15, 'Twenty': 25, 'Thirty': 30, 'Forty five': 45, 'Fifty six': 56}
dict_keys(['Ten', 'Twenty', 'Thirty', 'Forty five', 'Fifty six'])

In [78]:
""" 3. Access the value of key ‘python2’:

  sampleDict = { 

   "sabudh":{ 

      "intern":{ 

         "name":"Mike",

         "marks":{ 

            "python1":70,

            "python2":80

         }

      }

   }

}
"""

sampleDict = {"sabudh":{"intern":{ "name":"Mike","marks":{"python1":70,"python2":80}}}}
print(sampleDict["sabudh"]["intern"]["marks"]["python2"])

80

In [85]:
""" 4. Rename key “marital status” to marriage in the following dictionary:

sampleDict = {

  "name": "Kanika",

  "age":25,

  "marital status": “married”,

  "city": "New Delhi"

}

"""


sampleDict = {

  "name": "Kanika",

  "age":25,

  "marital status": "married",

  "city": "New Delhi"

}

sampleDict["marriage"] = sampleDict.pop("marital status")
print(sampleDict)

{'name': 'Kanika', 'age': 25, 'city': 'New Delhi', 'marriage': 'married'}

In [87]:
"""5. Given a Python dictionary, update Britney’s salary to 8500:

sampleDict = {

     'emp1': {'name': 'Jimothy', 'salary': 8500},

     'emp2': {'name': 'Philip', 'salary': 8000},

     'emp3': {'name': 'Britney', 'salary': 5500}

}

Out: sampleDict = {

     'emp1': {'name': 'Jimothy', 'salary': 8500},

     'emp2': {'name': 'Philip', 'salary': 8000},

     'emp3': {'name': 'Britney', 'salary': 9500}

}
"""

sampleDict = {

     'emp1': {'name': 'Jimothy', 'salary': 8500},

     'emp2': {'name': 'Philip', 'salary': 8000},

     'emp3': {'name': 'Britney', 'salary': 5500}

}

sampleDict["emp3"]["salary"] = 8500
print(sampleDict)

{'emp1': {'name': 'Jimothy', 'salary': 8500}, 'emp2': {'name': 'Philip', 'salary': 8000}, 'emp3': {'name': 'Britney', 'salary': 8500}}

In [97]:
"""
6. Replace dictionary values with their mean.

dict1 = {'Ten': 15, 'Twenty': 25, 'Thirty': 35}

dict2 = {'Thirty': 30, 'Forty five': 45, 'Fifty six': 56}
"""

dict1 = {'Ten': 15, 'Twenty': 25, 'Thirty': 35}
dict2 = {'Thirty': 30, 'Forty five': 45, 'Fifty six': 56}

dict3 = {}

key_set = set()

for i in dict1.keys():
    key_set.add(i)
    
for i in dict2.keys():
    key_set.add(i)

while(len(key_set) != 0):
    val = key_set.pop()
    dict3[val] = float((dict1.get(val,0) + dict2.get(val,0)))/2
print(dict3)

{'Thirty': 32.5, 'Forty five': 22.5, 'Ten': 7.5, 'Twenty': 12.5, 'Fifty six': 28.0}

In [103]:
"""
7.  Remove key from the dictionary with value as a blank string:

dict1 = {“mango”: ”three”, “orange”: ””, “banana”: ”two”, “apple”: ””}
"""

dict1 = {"mango": "three", "orange": "", "banana": "two", "apple": ""}

ls = list(dict1.keys())
for i in ls:
    if(dict1[i] == ""):
        del dict1[i]

print(dict1)

{'mango': 'three', 'banana': 'two'}